<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sign-in</title>
  </head>
  <body>
    <h4>Dang Ki Tai Khoan</h4>
    <form method="post">
      <label>Ten Day Du</label><br>
      <input type="text" name="fullname" value=""><br>
      <label>Email</label><br>
      <input type="text" name="email" value=""><br>
      <label>Ten dang nhap</label><br>
      <input type="text" name="username" value=""><br>
      <label>Mat khau</label><br>
      <input type="password" name="password" value=""><br>
      <input type="submit">
      
    </form>
  </body>
</html>
