<div class="h-650px bg-night">
  <h3 class="mt-50px text-center text-white">Khách hàng bình chọn</h3>
  <div class="container d-flex justify-content-between flex-md-wrap">
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe.gif" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe2.jpg" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe3.png" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe4.jpg" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/obama.jpeg" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/osama.jpg" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/mark.jpg" class="wh-auto"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/cccp.png" class="wh-auto"> </div>
  </div>
</div>
