<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Moody</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body class="bg-gradient animated pulse">
    <div class="container margin-top-20">
      <img src="../static/images/logo.png" alt="logo" height="100">

      <!-- <h1 class="font-roboto">Moody</h1> -->
      <h4 class="mt-3 color-white font-roboto text-uppercase">Xin chào, hôm nay bạn thế nào?</h4>
      <div class="d-flex justify-content-start ">
        <h1 class="color-white font-roboto">Ahhh, hôm nay tôi&nbsp;</h1>
        <div class="dropdown border-bot-3px">
          <h1 class="dropdown-toggle font-roboto" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            moody
          </h1>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('recommend', happy=1) }}">Hạnh phúc</a>
            <a class="dropdown-item" href="{{ url_for('recommend', happy=2) }}">Mệt mỏi</a>
            <a class="dropdown-item" href="{{ url_for('recommend', happy=3) }}">Bình thường</a>
            <a class="dropdown-item" href="{{ url_for('recommend', happy=4) }}">Buồn</a>
            <a class="dropdown-item" href="{{ url_for('recommend', happy=5) }}">Điên</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
